<!-- https://big-apple-insider.vercel.app/ -->
<div class="container layout-1">
    <div class="view1">
        <div class="top-view1">
            <img src="https://big-apple-insider.vercel.app/images/2.webp" class="top-left-view1" alt="">
            <div class="top-right-view1">
                <h1>The big apple</h1>
                <div class="pushing-block"></div>
                <div class="top-right-text">
                    <p>Of all the metropolises in the world, none embodies the energy, diversity, and dynamism of urban life quite like New York City. Nicknamed the 'Big Apple', this iconic metropolis is a magnet for millions from all corners of the globe.</p>
                    <p>Beyond its imposing skyscrapers and hectic schedule, <span>New York is a mosaic of stories, cultures,</span> and influences that have woven together over the centuries to create a city unlike any other.</p>
                </div>
            </div>
        </div>
        <div class="bottom-view1">
            <p>'Flatiron building of NYC'</p>
            <p>Alex Presa</p>
        </div>
    </div>
    <div class="view2">
        <img src="https://big-apple-insider.vercel.app/images/3.webp" alt="">
    </div>
    <div class="view3">
        <div class="left-view3">
            <h1>DEMOGRAPHY</h1>
            <p>New York, officially known as the City of New York, also referred to by names and abbreviations such as New York City or NYC, <span>is the largest city in the United States in terms of population.</span> It is home to a staggering 8 804 190 residents as of 2020.</p>
            <div class="left-bottom-view3">
                <p>8 million</p>
                <p>Residents</p>
            </div>
        </div>
        <div class="right-view3">
            <img src="https://big-apple-insider.vercel.app/images/4.webp" alt="">
            <div class="right-bottom-view3">
                <p>'People in New York City'</p>
                <p>Brandon Green</p>
            </div>
        </div>
    </div>
</div>
