<!-- To check if app component works -->
<!-- <p>Hello World!</p> -->

<!-- <app-header-fixed-fleeting-1></app-header-fixed-fleeting-1> -->
<!-- <app-header-fixed-fleeting-2></app-header-fixed-fleeting-2> -->
<!-- <app-horizontal-scroll-indicator></app-horizontal-scroll-indicator> -->
<!-- <app-custom-cursor1></app-custom-cursor1> -->
<div class="smooth-wrapper">
    <div class="smooth-content">
        <!-- Added so the child component of route is loaded -->
        <router-outlet></router-outlet>
    </div>
</div>
