<!-- https://distrategy.plastic.design/ -->
<div #header class="container">
    <div class="header-logo">
        <p>Titulo</p>
    </div>
    <div class="header-content">
        <p>Texto de ejemplo</p>
        <div class="content-options">
            <a class="clickable">Overview</a>
            <a class="clickable">Agenda</a>
            <a class="clickable">Info</a>
        </div>
        <div class="content-options-mobile">
            <i class="fa-solid fa-bars-staggered" (click)="toggleMobileHeader()"></i>
        </div>
        <div #mobileOptions class="expanded-mobile-options">
            <a>Overview</a>
            <a>Agenda</a>
            <a>Info</a>
        </div>
    </div>
</div>